body, html {
    margin: 0;
    overflow: hidden;
    background:#ffffff;
}
#layoutWrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: inline-table;
    overflow: hidden;
    z-index: -1;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: right !important; 
}



#logoLang{
    width: 15vw;
    margin:30vh auto 10vh auto;
    display: block;

}

#langlist{

    display: block;
    margin: 5vh auto;
    text-align: center;
}

.langBtn{
    border: none;
    display: table-cell;
    background: none;
    font:lighter 16pt/16pt Arial;
    margin: 2vh auto;
    outline: none;
}

.langBtn:hover{
    cursor: pointer;
    color:graytext;
    text-decoration: underline;
}


.hide{
    display: none !important;

}


#main{
    width: 102vw;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    right:-2vw;
    padding-right: 2vw;
    z-index: 25;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

#nav{
    width: 0;
    height: 100vh;
    background: #110011;
    opacity: 0.2;
    float: left;
    z-index: 20;
    overflow: hidden;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

#menuBtns{
    width: 15vw;

}
#footer{
    width: 100vw;
    height: 5vh;
    position:absolute;
    bottom:0;

    z-index: 25;

}

#footer button{
    display: inline;
    float: right;
    height: 4vh;
    width: 10vw;
    text-align: center;
    color : white;
    opacity: 0.2;
    background: #110011;
    border:  none;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    outline:none;
    z-index: 30;

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;

}

#footer button:first-of-type{margin-right: 1vw;}
#footer button:hover{

    opacity: 1;
}

#searchTerm, #noResults{
    margin-right: 1vw;
    display: inline;
    float: right;
    height: 3vh;
    width: 20vw;
    background: whitesmoke;
}

video{
    z-index: 0;
    position: absolute;
    display: table-cell;
    width:100vw !important;
    height: auto !important;



}
.catSpan{
    text-align: right;
    width: 100%;
    display: inline-table;
}
.catBtns, .subcatBtns{
    border: none;
    color: white;
    background: none;
    outline: none;
    display: block;
    margin: 5px;
    z-index: 5;
    cursor: pointer;
}
.catBtns:hover, .subcatBtns:hover{
    text-shadow: 1px 1px 1px white;
}


#logoMenu , #homeGallery, #searchHome {
    width: 7vw;
    height: 10vh;
    margin: 2vh 4vw 5vh 4vw;
    display: table-cell;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    border: 1px outset white;
    outline:none;
    transition-duration: 1s;
    background-image: url(img/resources/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}

#homeGallery {
    position: absolute;
    z-index: 10000000; 
}

#logoMenu:hover, #homeGallery:hover{

    filter: invert(0%);
    -webkit-filter: invert(0%);
}


.entryInfo{
    position: absolute;
    width: 33vw;
    padding: 5px;
    text-indent: 10px;
    text-align: justify;
    top:10vh;
    left: 33vw;
    margin-left:5vw;
    margin-top:10vh;
    display: inline-block;
    color: goldenrod;
    background: rgba(0, 0, 0, 0.5);
}

.entryInfo a{
    color: goldenrod;
    font-weight: bold;
}

.entryInfo h1{
    color: gold;
    text-align: center;
}

.returnToOrigin{
    background: url(img/resources/animArrowUp.gif) no-repeat;
    top:0;

}
.galleryBack{
    background: url(img/resources/animArrowUp.gif) no-repeat;
    top:0;

}

.galleryBtn{
    bottom:3vh;
    background: url(img/resources/animArrowDown.gif) no-repeat;

}
.galleryBtn, .galleryBack, .returnToOrigin{
    width: 10vw;
    height: 3vh;
    left:47vw;
    position: fixed;
    border: none;
    color:white;
    outline: none;
    -webkit-animation: inversion 3s; 
    animation: inversion 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    vertical-align: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: 20000;
}

.galleryBtn:hover, .galleryBack:hover{
    opacity:1;
    -webkit-animation-play-state: paused; 
    animation-play-state: paused;
}

@-webkit-keyframes inversion {
    from{ filter: invert(100%);
          -webkit-filter: invert(100%);}
    to{ filter: invert(0%);
        -webkit-filter: invert(0%);}

}
@keyframes inversion {
    from{ filter: invert(100%);
          -webkit-filter: invert(100%);}
    to{ filter: invert(0%);
        -webkit-filter: invert(0%);}
}

.gallerySpan{

    float: left;
    clear: left;
    border-bottom: 1px solid goldenrod;
    color: goldenrod;
    display: block;
    z-index: 200;
    cursor: pointer;
}


#spanScroller{
    top: 2vh;
    right: 3vw;
    width: 12vw;
    height: 100vh;
    position: fixed;
    z-index: 10;

}


.contact{
    width: 8vw;
    display: inline-block;
    margin: 2vw;
    vertical-align: top;

}
.contact a{
    -webkit-border-radius:100%;
    border-radius: 100%;
    border:3px inset black;
    outline: none;
    background: black;

    display: inline-block;
    text-decoration: none;
}
.contact img{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

.contact a:hover{
    box-shadow: 0 0 10px blue;
}
.contact a:active{
    border:0;
}

.results{
    color: goldenrod;
}

.entryGalleryDiv {
    width: 70vw;
    display: inline-block;
    height: 80vh;
    margin: 0 10vw;
    position: relative;

}

.entryGalleryDiv:hover{

}
.entryGalleryDiv:first-of-type{
    margin-top: 10vh;
}


.entryGalleryDiv h1{
    color:gold;
    top: 5vh;
    left: 20vw;
    z-index: 50;
    position: absolute;


}
.entryGalleryDiv p{
    position: absolute;
    color: goldenrod;
    top: 20vh;
    z-index: 50;

}
.entryGalleryBtns{
    width: 70vw;
    height: 80vh;
    vertical-align: middle;
    margin: auto 0;
    line-height: 40vh;
    float: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    transition-duration: 1s;
}

.superSize {
    width: 100vw;
    height: 100vh;
    background: #FFF;
    display: block;
    position: absolute;
    margin: 0 !important;
    top:0;
    left: 0;
}

#loaderDiv{
    height: 200px;
    width: 200px;
    display: block;
    margin: 40vh auto;
    background: url(img/resources/loadgo.gif) no-repeat center;
}


#loaderDiv img{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.searchMatch{
    color:blue;
    text-decoration: underline;
    font-size: 14pt;
    cursor: pointer;
    margin: 5vh 5vw;
}

.relatedTerms{
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

h2{
    text-align: center;
}