body{
    margin: 0;
}

#layoutWrapper {
    width: 100vw;
    height: 100vh;
    margin:0;
    display: inline-table;
}
#menu{
    width: 100vw;
    background: #000000;
    height: 5vh;
    display: inline-block;
    line-height: 5vh;
    vertical-align: middle;
}

#menu span{
    display: inline-table;
    vertical-align: middle;
}
#menu button{
    display: table-cell;
    float: left;
    height: 3vh;
    width: 10vw;
    margin: 0 2vw;
    text-align: center;
    color : #ffffff;
    background: #000000;

}


#menu form{
    float: right;
    height: 3vh;
    width: 12vw;
    margin: 0 2vw;
}

#menu input{
    height: 2vh;
    display: inline;
}

#main{
    height: 95vh;
    width: 100vw;
    background-color: #000000;
    display: inline-block;
    text-align: center;
    margin: 0;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}



.catBtns, .subcatBtns, .imgBtns{
    display: block;
    margin:1%;
    font: 16pt serif;
    color:white;
    text-align: center;
    background: #000000;
    clear: left;
}


#bottomOverlay{
    height: 0vh;
    width: 0vw;
    background: #000000;
    display: inline-block;
    float: left;
}

.langBtns{
    height: 40vh;
    width: 66vh;
    margin: 5vh;
}
#sideOverlay{
    width: 0vh;
    height: 0vw;
    background: #000000;
    display: inline-block;
    float: right;
}

.hide{
    width: 0vh;
    height: 0vw;
    display: none;
}

.fullSize{
    width:100%;
    height:100%;
    opacity:0.2;
    margin: 0;
}

.contact{
    width: 10vw;
    display: inline-block;
    margin: 1vw;
}
.contact a{
    -webkit-border-radius:100%;
    border-radius: 100%;
    border:3px inset black;
    outline: none;
    background: black;

    display: inline-block;
    text-decoration: none;
}
.contact img{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

.contact a:hover{
    box-shadow: 0 0 10px blue;
}
.contact a:active{
    border:0;
}

#locationSlug{
    color: white;
    font: 12pt small-caps serif;
    margin: 0 5px;
}

aside{
    color:white;
}

a:visited{
    color:white;
}


