<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Language Select</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="langMenu">
            <button id="en"><img src="img/resources/en.jpg" alt="English"/></button>
            <button id="fr"><img src="img/resources/fr.jpg" alt="French"/></button>
            <button id="he"><img src="img/resources/he.jpg" alt="Hebrew"/></button>
            <button id="ru"><img src="img/resources/ru.jpg" alt="Russian"/></button>
        </div>
    </body>
</html>
