<ul id="categoryButtons">
    <li>
        <a href=# id="home"><p>Home</p></a>
    </li>
    <li>
        <a href="#" id="0" class="category" ><p>Architects</p></a>
    </li>
    <li>
        <a href="#" id="1" class="category"><p>Contractors</p></a>
    </li>
    <li>
        <a href="#" id="2" class="category"><p>Entrepreneurs</p></a>
    </li>
    <li>
        <a href="#" id="3" class="category"><p>Projects</p></a>
    </li>
     <li>
        <a href="#" id="4" class="category"><p>Interior</p></a>
    </li>
    <li>
        <a href="#" id="5" class="category"><p>Publications</p></a>
    </li>
</ul>
<ul id="searchbar">
    <li>
        <form> 
            <input type="text" placeholder="Enter search term">
            <input type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a href="#" class="social" id="facebook"> <img src="img/resources/facebook.png" alt="facebook"/></a>
        <a href="#" class="social" id="googleplus"> <img src="img/resources/googleplus.png" alt="googleplus"/></a>
        <a href="#" class="social" id="linkedin">  <img src="img/resources/linkedin.png" alt="linkedIn"/></a>
        <a href="#" class="social" id="twitter">  <img src="img/resources/twitter.png" alt="twitter"/></a>
        <a href="#" class="social" id="share">  <img src="img/resources/share.png" alt="share"/></a>
    </li>
</ul>
<ul id="footer">
    <li>
        <a href="#" id="contactUs"><p>Contact Us</p></a>
    </li>
    <li>
        <a href="#" id="languageSelect"><p>Select Language</p></a>
    </li>
</ul>